*
{
    margin: 0;
}
.header1
{
    padding-top: 20px;
    border: 2px;
    height: 70px;
    color: rgb(8, 1, 20);
    text-decoration: double;
    text-shadow: 8px 8px 8px rgb(255, 255, 255), 0 0 25px rgb(255, 255, 255), 0 0 5px rgb(255, 255, 255);
    border-style: solid;
    background-image: url(../img/m4.png);
    background-position: center;
    background-repeat: repeat-x;
}
.header2
{
    padding-top: 20px;
    border: 2px;
    height: 70px;
    color: rgb(8, 1, 20);
    text-decoration: double;
    text-shadow: 8px 8px 8px rgb(255, 255, 255), 0 0 25px rgb(255, 255, 255), 0 0 5px rgb(255, 255, 255);
    border-style: solid;
    background-image: url(../img/welcome.jpg);
    background-position: center;
    background-repeat: repeat-x;
}
.border
{
    border-style: inherit;
}
.body1
{
    background-image: url(../img/back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
}

.body2
{
    background-image: url(../img/footer.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
}

h1
{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
}

h3
{
    border-style: inset;
    background-color: rgb(171, 170, 175);
    height: 30px;
    padding-top: 10px;
    opacity: .6;
}

b
{
    font-family: Arial, Helvetica, sans-serif;
}
.box
{
    background-image: url(../img/b1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    border-radius: 125px;
    border: 5px solid rgb(2, 2, 34);
    padding: 55px;
    margin: 10px;
    box-shadow: 10px 10px 10px rgb(10, 54, 104);
}
.box2
{
    background-image: url(../img/vip.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 500px;
    border-radius: 125px;
    border: 5px solid rgb(2, 2, 34);
    padding: 55px;
    margin: 10px;
    opacity: .8;
    box-shadow: 10px 10px 10px rgb(10, 54, 104);
}
.sub
{
    color: azure;
}

label
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

input[type=text],input[type=password],input[type=number]
{
    text-align: center;
    border-radius: 20px;
    height: 30px;
    box-shadow:10px 10px 10px rgb(56, 20, 20);
}
input[type=textarea]
{
    text-align: center;
    border-radius: 20px;
    height: 50px;
    width: 200px;
    box-shadow:10px 10px 10px rgb(56, 20, 20);
}
p
{
    padding-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    color:rgb(125, 116, 252);
}
p.class
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:x-large;color: crimson ;
}
.media
{
    width: 260px;
    height: 250px;
    text-align: center;
    padding-left: .7%; 
    padding-top: 6%;
    display: inline-block;
    box-shadow: 2px 2px 20px black;
    border-radius: 15px; 
    margin: 2%;
    transition: transform .3s;
    color: rgb(8, 8, 8);
    background-color: rgb(78, 14, 14);
    background-image: linear-gradient(180deg, #260661,#695353);   
}
.media a:link,a:visited
{
    width: 50px;
    height: 20px;
    font-size: 18px;
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.616);
    background-color: rgba(71, 79, 194, 0.5);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    box-shadow: 2px 2px 20px rgb(240, 234, 234);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.media .button .button2 a:hover, a:active {
    color: rgb(15, 4, 4);
    background-color: rgb(255, 250, 250);
}
.button
{
    text-align: center;
    border-radius: 20px;
    height: 30px;
}

.login
{
    color: black;
    text-align: center;
    font-size: 15px;
}
.button2
{
    cursor: pointer;
    text-align: center;color: rgb(56, 63, 24);
    border-radius: 20px;
    height: 30px;
    box-shadow:10px 10px 10px rgb(73, 69, 51);
}

.loginbtn
{
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    color: rgb(168, 3, 3);
    border-radius: 20px;
    height: 30px;
    width: 90px;
    box-shadow:10px 10px 10px rgb(73, 69, 51);
}

.indexbtn
{
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    color: rgb(21, 6, 77);
    border-radius: 20px;
    height: 50px;
    width: 190px;
    box-shadow:10px 10px 10px rgb(73, 69, 51);
}

.icon
{
    color: #3f2f0c;
}

.footer
{
    padding-top: 20px;
    border: 2px;
    height: 350px;
    color: rgb(255, 255, 255);
    text-decoration: double;
    text-shadow: 8px 8px 8px black, 0 0 25px rgb(196, 164, 164), 0 0 5px rgb(199, 163, 163);
    border-style: solid;
    background-image: url(../img/footer.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    opacity: .8;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 5px;
    left: 5px;
    background-color:rgb(3, 3, 3);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ad7d14;
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover {
    color: #090a3f;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}  
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
  
.search{
    right: 0;
}